.root {
    -fx-font-family: "Helvetica";
    -fx-background-color: rgb(173, 216, 230); /* light blue background */
}

.label, .button {
    -fx-font-family: "Helvetica";

    -fx-text-fill: black; /* black text color for labels and buttons */
}

.text-field, .password-field {
    -fx-background-color: rgb(255, 255, 255); /* white text field background */
}

.button {
    -fx-background-color: rgb(70, 130, 180); /* dark blue button background */
    -fx-text-fill: white; /* white text */
}

.button:hover {
    -fx-background-color: rgb(30, 100, 150); /* darker blue on hover */
}

.optional-pane {
    -fx-background-color: rgba(255, 255, 255, 0.8); /* semi-transparent white */
}